header{
	padding: 15px 15px;
	margin-left: -120px;
	margin-right: -120px;
    width: 1320px;
}

.p{
	text-decoration: underline;
}

header a{
	text-decoration: none;
	color: white;
	font-weight: bold;
}

#search_box{
	width: 150px;
	padding: 5px 10px;
	border-radius: 5px;
	border: none;
}

.box_1{
	border: solid 2px black;
	border-radius: 5px;
	padding: 20px 20px;
	transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.box_1:hover{
	border: solid 2px black;
	border-radius: 5px;
	padding: 20px 20px;
	transform: translateY(-10px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
	
}

/* .card{
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card:hover{
    transform: translateY(-10px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
} */